body {
    margin: 0px;
}

.popupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;

    background-color: #BADA55;
    border: 2px solid darkblue;
    color:  darkblue;
    font-size: 20px;
    width: 300px;
}

.content {
    margin-top: 8px;
    margin-bottom: 8px;
}

.planCheckBox {
    width: 100%;
}
